.navbar-custom {
    background-color: white;
    width: 110%;
    margin-left: -7%;
    box-shadow: none;
}

.navbar-custom .nav-link {
    color: black !important;
}

.navbar-custom .dropdown-menu {
    background-color: white;
}

.navbar-icon {
    margin-left: 3%;
    /* Pushes the icon to the right */
    font-size: 1.1rem;
    /* Adjust size if needed */
    cursor: pointer;
    /* Makes it clickable */
}

.nav-btn1 {
    margin-right: 10px;
    padding: 8px 16px;
    font-size: 16px;
    background: linear-gradient(135deg, #70f81c, #049a1a);
}

.nav-btn2 {
    margin-right: 10px;
    padding: 8px 16px;
    font-size: 16px;
    background: linear-gradient(135deg, #e4824a, #c44403);
}

.nav-btn3 {
    margin-right: 10px;
    padding: 8px 16px;
    font-size: 16px;
    background: linear-gradient(135deg, #539af7, #0a20ea);
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.username {
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

.nav-item dropdown1 {
    margin-right: 10px;
}

.welcome {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    /* optional spacing */
}

.welcome h5,
.welcomeName h3 {
    margin: 0;
    line-height: 1;
    font-size: 1.5rem;
    /* make both equal */
}