.button-container {
    display: flex;
    justify-content: flex-start;

    margin-top: 3%;
    margin-left: 90%;
}

.search-bar {
    margin-left: 3%;
    margin-top: 2%;
}

.button-search-submit {
    margin-top: 1%;
}

.search-btn {
    margin-left: 2%;
}

.page-layout {
    display: flex;
    min-height: 100vh;
}

.page-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.page-layout {
    display: flex;
    min-height: 100vh;
}

.page-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}